@charset "UTF-8";

/* MEDIA QUERY PARA TELA */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(184, 181, 181);
    border: 1px solid black;
}

menu li {
    background-color: rgb(102, 101, 101);
    color: white;
    display: inline-block;
    margin: auto;
    padding: 5px;
}

article {
    max-width: 600px;
    height: 90vh;
    margin: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
}